<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    </listeners>
        <listener class-name="c.syntax.class3.Listeners"/>
    </listeners>

    <test name="Parallel Test"> parallel="methods" thread-count="3">
        <classes>
            <class name="com.syntax.class03.ParallelTestTesterClass">
            </class>
        </classes>
    </test>
